ebin/neptune.app
*.beam
*.la
*.lo
*.o
*.so
*.tar.gz
*~
neptune.plt
bin/neptune

Makefile
Makefile.in
aclocal.m4
m4/
autom4te.cache/
build-aux/
config.*
configure
libtool
.deps/
.libs/
inst/
.dirstamp

bin/neptune_test
tests/atconfig
tests/atlocal
tests/testsuite
tests/testsuite.dir/
tests/testsuite.log
