ebin/neptune.app
*.beam
*.la
*.lo
*.o
*~
neptune.plt
bin/neptune

Makefile
Makefile.in
aclocal.m4
m4/
autom4te.cache/
config.*
configure
missing
install-sh
compile
depcomp
ltmain.sh
libtool
.deps/
.libs/

bin/neptune_test
tests/atconfig
tests/atlocal
tests/testsuite
tests/testsuite.dir/
tests/testsuite.log
