ebin/neptune.app
*.beam
*~
dialyzer.plt
bin/neptune

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
missing
install-sh

bin/neptune_test
tests/atconfig
tests/atlocal
tests/testsuite
tests/testsuite.dir/
tests/testsuite.log
