*~

# Artifacts created after running:
# ./bootstrap.sh
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
m4/*.m4

# Artifacts created after running:
# ./configure
Makefile
.deps/
config.*
libtool
doc/ref_man.xml.in
ebin/%LC_PACKAGE_NAME%.app
tests/atconfig
tests/atlocal

# Artifacts created after running:
# make
.libs/
*.lo
*.la
*.o
*.fo
man1/
man3/
bin/%LC_PACKAGE_NAME%
ebin/*.beam
c_src/.dirstamp
doc/*.xml
doc/*.html
doc/%PACKAGE_NAME%.pdf
doc/*.css

# Artifacts created after running:
# make check
tests/%LC_PACKAGE_NAME%.plt
tests/*.beam
tests/*.m4
tests/testsuite
tests/testsuite*

# Artifacts created after running:
# make install DESTDIR=$PWD/inst && make installcheck DESTDIR=$PWD/inst
inst/

# Artifacts created after running:
# make dist && make distcheck
%LC_PACKAGE_NAME%*.tar.gz
